<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFwvhqdPIlV0PNCWT5rk1_QBIe_j9az00</string>
	<key>GCM_SENDER_ID</key>
	<string>166265468818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminApp</string>
	<key>PROJECT_ID</key>
	<string>fix-firebase-178d8</string>
	<key>STORAGE_BUCKET</key>
	<string>fix-firebase-178d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166265468818:ios:d347d35a3dd404a919f34b</string>
</dict>
</plist>